[Unit]
Description=Servicio de log para un sensor simulado
After=multi-user.target

[Service]
# Ruta absoluta al ejecutable. Asumimos que lo instalaremos ahí.
ExecStart=/usr/local/bin/assignment-sensor --interval 5
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target