[Unit]
Description=Mock Sensor Logger
After=multi-user.target

[Service]
ExecStart=/usr/local/bin/mock-sensor 5
Restart=on-failure
User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target
